
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.bg-ligth{
    background-color:orange ;
}
 .navbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
 }
 .brand{
    font-weight: 700;
    font-size: 3rem;
 }
 .nav-links{
display: flex;
gap: 20px;
 }
 .nav-item{
   list-style: none; 
   margin: 30px;
 }
 .nav-link{
    text-decoration: none;
    font-weight: 500;

 }
 .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
 }
 .banner-content{
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
 }
 .banner-title{
    font-weight: 700;
    font-size: 4rem;
 }
 .btn-primary{
    background-color: brown;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
 }
mani{
max-width: 1440px;
margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

 .banner-image{
    width: 100%;
 }
 .teams{
    display: flex;
    align-items: center;
 }
 .team-img-container{
   display: grid;
   grid-template-columns: repeat(2 ,1fr); 
   gap: 24px;
 }
 .our-features{
    margin-left: 130px;
    max-width: 530px;
 }
 #quick-list{
    color: gray;
   font-weight: 500;
    
 }
 .Feature-title{
    font-size: 2.8rem;
    font-weight: 700;
 }
 .text-primary{
    color: #FF900E;
 }
  @media screen and (mix-width:576px) {
    .navbar{
      flex-direction: column;  
    }
} 
.section-title{
    border-left: 2px solid #FF900E;
    padding: 20px;
}

.features{
    display: flex;
    gap: 140px;
}

.feature-card{
     padding:30px ; 
     border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
.feature-card .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
 
}

.fact{
    font-size: 40px;
    margin: 30px;
}
.fact-contan{
    font-size: 16px;
    margin: 20px;
    padding: 5px;
}


.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.fact-card{
    border: 2px solid orange;
    width: 240px;
    height: 240px;
    border-radius: 10px;
    
}
.card-title{
text-align: center;
margin: 50px 0;
}
.fact-number{
   font-size: 2.8rem;
   font-weight: 600;
   margin-top: 5px; 
   margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.sponsor-info{
    max-width: 540px;
    margin: 30px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
.sponsor-companies img{
filter: grayscale(100%);
margin-top: 40px;
}
